<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cognito demo</title>
  </head>
  <body>
    <h1>Authenticated User Access</h1>
    <p>You have been granted access to this file through the use of Cognito
    Identity Pools authenticated access.</p>
    <p>When authenticated, Cognito Identity Pools will return an identity token
    that can be exchanged for AWS credentials for an IAM role assigned to the
    authenticated user.</p>
  </body>
</html>
